BOT_TOKEN="YOURBOTTOKEN"      #discord bot token, get from discord developper portal
CALENDAR_ID="TOURCALENDARID"  #google shared calendar id number
CHANNEL_ID="YOURCHANNEL_ID"   #get from right-click on discord channel -> get id
SERVER_ID="YOURSERVERID"      #get from right-click on discord server -> get id